body {
    height: 100vh;
    margin: 0;
}

#root {
    height: 100%;
}

#canvas {
    touch-action: none;
}

#radial-blur-mask {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* -webkit-mask: -webkit-radial-gradient(
        center,
        closest-side,
        transparent 30%,
        white 80%
    ); */
    mask: radial-gradient(circle at center, transparent 30%, white 70%);
    -webkit-mask: radial-gradient(circle at center, transparent 30%, white 70%);
    backdrop-filter: blur(10px);
}
